.context-menu {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #999999;
  box-shadow: 2px 2px 4px gray;
  min-width: 100px;
  position: absolute;
}

.menu-options {
  list-style: none;
  padding: 5px 10px 5px 10px;
  margin: 0px;
}

.menu-option {
  border-style: hidden;
  border-radius: 4px;
  font-family: sans-serif;
  cursor: pointer;
  padding: 5px;

  &:hover {
    color: #7986cb;
  }
}
