.context-menu {
  background-color: #eeeeee;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #222222;
  box-shadow: 3px 3px 5px gray;
  min-width: 100px;
  position: absolute;
}

.menu-options {
  list-style: none;
  padding: 5px 10px 5px 10px;
  margin: 0px;
}

.menu-option {
  border-style: hidden;
  border-radius: 4px;
  font-family: sans-serif;
  cursor: pointer;
  padding: 5px;
}
.menu-option:hover {
  background-color: #3333dd;
  color: #dddddd;
}
