<div class="context-menu" [style.top.px]="top" [style.left.px]="left">
  <ul class="menu-options">
    <li
      class="menu-option"
      [hidden]="!contextOptions.singleBond"
      (click)="onSingleBond()"
    >
      Single Bond
    </li>
    <li
      class="menu-option"
      [hidden]="!contextOptions.doubleBond"
      (click)="onDoubleBond()"
    >
      Double Bond
    </li>
    <li
      class="menu-option"
      [hidden]="!contextOptions.tripleBond"
      (click)="onTripleBond()"
    >
      Triple Bond
    </li>
    <li
      class="menu-option"
      [hidden]="!contextOptions.delete"
      (click)="onDelete()"
    >
      Delete
    </li>
  </ul>
</div>
