.editor-panel {
  position: relative;
}

.context {
  position: absolute;
  z-index: 4;
}

.overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.main-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.grid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
