<app-context-menu
  class="context"
  [hidden]="!contextVisible"
  [top]="contextPosition.top"
  [left]="contextPosition.left"
></app-context-menu>
<div
  class="editor-panel"
  (drop)="drop($event)"
  (dragover)="allowDrop($event)"
  (mousemove)="mouseMove($event)"
  (mouseleave)="mouseLeave()"
  (click)="click($event)"
  (contextmenu)="contextMenu($event)"
>
  <canvas class="overlay-canvas" #overlayCanvas width="1020" height="720">
  </canvas>
  <canvas class="main-canvas" #mainCanvas width="1020" height="720"></canvas>
  <canvas class="grid-canvas" #gridCanvas width="1020" height="720"> </canvas>
</div>
