<div class="workspace">
  <div class="element-toolbar">
    <div class="element-container">
      <app-element symbol="H" valenceElectrons="1"></app-element>
    </div>
    <div class="element-container">
      <app-element symbol="C" valenceElectrons="4"></app-element>
    </div>
    <div class="element-container">
      <app-element symbol="N" valenceElectrons="5"></app-element>
    </div>
    <div class="element-container">
      <app-element symbol="O" valenceElectrons="6"></app-element>
    </div>
    <div class="element-container">
      <app-element symbol="P" valenceElectrons="5"></app-element>
    </div>
    <div class="element-container">
      <app-element symbol="S" valenceElectrons="6"></app-element>
    </div>
  </div>
  <div>
    <div class="editor"></div>
  </div>
</div>
